/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand: #22333b;
    --action: #BB4430;
    --white: #ffffff;
    --base-light: #eae0d5;
    --base-dark: #0A0908;
    --black: #111111;
  }

/* .metal-mania-regular {
  font-family: "Metal Mania", serif;
  font-weight: 400;
  font-style: normal;
} */



.main-page {
  background: linear-gradient(var(--base-dark), var(--brand));
}


.body {
  width: 75%;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 12px 20px;
  box-sizing: border-box;
  align-self: center;
  border-radius: 4px;
  background-color: var(--base-light);
  resize: none;
}
.body a {
  margin: 14px;
  margin-bottom: 24px;
  color: var(--base-light);
  font-size: 1.5rem;

}

.body p {
  margin: 14px;
  margin-bottom: 24px;
  color: var(--base-dark);
  font-size: 1.5rem;

}

.body h2, h3 {
  margin: 28px;
  font-size: 2rem;
  color: var(--base-dark);

} 

/* 
.body-tours-bands h2, h3 {
  margin: 28px;
  font-size: 2rem;
  color: var(--base-light);

} */

  



/* Tour cards */
#tour-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: 30% 30% 30%; */
  column-gap: 16px;
  row-gap: 16px;
  padding: 28px;
  /* padding-bottom: 56px; */
}

/* Band cards */
#band-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: 30% 30% 30%; */
  column-gap: 16px;
  row-gap: 16px;
  padding: 28px;
  /* padding-bottom: 56px; */
}



/* Components */

 /* standard button */
 .button-link { 
  align-self: flex-end; 
  }

.button { 
  margin-top: 28px; 
  /* margin-bottom: 28px; */
  float: inline-end;
  padding: 10px 20px; 
  font-size: 1rem; 
  color: var(--base-light); 
  background-color: var(--brand); 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  } 

.button:hover { 
  background-color: var(--action); 
}

/* Form button */
.form-button-link { 
  align-self: flex-end; 
  }

.form-button { 
  margin-top: 28px; 
  /* margin-bottom: 28px; */
  /* float: inline-end; */
  padding: 10px 20px; 
  font-size: 1rem; 
  color: var(--base-light); 
  background-color: var(--brand); 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  } 

.form-button:hover { 
  background-color: var(--action); 
}


.band-tour img {
  max-width: 300px;
  border: 3px;
  border-color: var(--base-dark);
  border: 1px solid var(--base-dark);
  box-shadow: 0px 0px 5px var(--action);
}

