/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand: #22333b;
    --action: #BB4430;
    --white: #ffffff;
    --base-light: #eae0d5;
    --base-dark: #0A0908;
    --black: #111111;
  }

/* .metal-mania-regular {
  font-family: "Metal Mania", serif;
  font-weight: 400;
  font-style: normal;
} */

/* Hero content */
.hero {
  background-color: var(--brand);
  padding: 28px 28px;
  margin: 28px 0px 28px;
  line-height: 1.68rem;
  text-align: justify;
}

.hero h1 {
  color: var(--base-light);
  margin-bottom: 28px;
  font-family: "Metal Mania";
  font-size: 4.8rem;
  line-height: 4.8rem;
  
}

.hero p {
  font-size: 2.4rem;
  margin-bottom: 24px;
  color: var(--base-light);
  line-height: 2.4rem;
}

/* Tour cards */
#tour-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

/* Tour cards */
#band-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

