/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand: #22333b;
    --action: #BB4430;
    --white: #ffffff;
    --base-light: #eae0d5;
    --base-dark: #0A0908;
    --black: #111111;
  }


/* .metal-mania-regular {
  font-family: "Metal Mania", serif;
  font-weight: 400;
  font-style: normal;
} */

/* Page content */
.homepage {
  background: linear-gradient(var(--base-dark), var(--brand));
}

.body p {
  font-size: 1.5rem;
  margin: 28px;
  margin-bottom: 24px;
  color: var(--base-light);
}



/* Tour cards */
#tour-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 28px;
  row-gap: 28px;
  padding-left: 28px;
  padding-bottom: 56px;
}

/* Tour cards */
#band-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 28px;
  row-gap: 28px;
  padding: 28x;
}

