/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand: #22333b;
    --action: #BB4430;
    --white: #ffffff;
    --base-light: #eae0d5;
    --base-dark: #0A0908;
    --black: #111111;
  }

/* .metal-mania-regular {
  font-family: "Metal Mania", serif;
  font-weight: 400;
  font-style: normal;
} */


/* Page content */
.homepage {
  background: linear-gradient(var(--base-dark), var(--brand));
}

.main-page {
  background: linear-gradient(var(--base-dark), var(--brand));
}

.body {
  width: 75%;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 12px 20px;
  box-sizing: border-box;
  align-self: center;
  border-radius: 4px;
  background-color: var(--base-light);
  resize: none;
}

p {
  margin: 14px;
  margin-bottom: 24px;
  color: var(--brand);
  font-size: 1.5rem;

}

h2 {
  margin: 28px;
  font-size: 2rem;
  color: var(--base-light);

}
  



/* Tour cards */
#tour-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 2%;
  padding-left: 28px;
  /* padding-bottom: 56px; */
}

/* Band cards */
#band-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 2%;
  padding-left: 28px;
  /* padding-bottom: 56px; */
}



/* Components */

 /* button */
 .button-link { 
  align-self: flex-end; 
  }

.button { 
  margin-top: 28px; 
  /* margin-bottom: 28px; */
  float: inline-end;
  padding: 10px 20px; 
  font-size: 1rem; 
  color: var(--base-light); 
  background-color: var(--brand); 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  } 

.button:hover { 
  background-color: var(--action); 
}
