
/* .contact-form*/

  
  .band-form {
    background-color: var(--base-light);
    width: 55%;
    border: solid 2px var(--brand);
    color: var(--base-dark);
    padding: 10px;
    gap: 28px;
  }

  .login-form {
    background-color: var(--base-light);
    width: 55%;
    border: solid 2px var(--brand);
    color: var(--base-dark);
    padding: 10px;
    gap: 28px;
    margin-left: 28px;
  }


  h1 {
    font-family: "Metal Mania";
    font-size: 1.8rem;
    padding: 28px 28px;
    color: var(--base-light);
  }

  /* Labels */
  label {
    display: block;
    margin-top: 2rem;  
  }

  .check label {
    margin-top: 0;
  }

  label:first-of-type {
    margin-top: 0;
  }

/* Inputs and textarea */
input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid 1px #999;
  min-width: 60%;
}

textarea {
  min-height: 8rem;
  min-width: 100%;
  padding: 0.5rem;
  border: solid 1px #999;
}

/* Submit button */
/* input[type="submit"]  */
  .submit {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: var(--brand);
  color: #fff;
  font-size: 0.8rem;
}

/* 


  .contact-form input,
  .contact-form select {
    display: block;
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .contact-form textarea {
    display: block;
    width: 100%;
    padding: 8px;
  }
  
  .contact-form label {
    display: block;
    width: 100%;
  }
  
  .contact-form h2 {
    color: var(--base-dark);
    margin-bottom: 16px;
  } */
  
  .contact-form input[type="Create Band"] {
    background-color: var(--action);
    color: var(--base-light);
    border: 0;
    margin-top: 8px;
    width: 25%;
    cursor: pointer;
  }


